# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Artifacts
# ==========================
artifacts/

# ==========================
# Data
# ==========================
data/raw/
data/interim/
data/processed/

# Optional:
# Ignore raw data if it's large
# data/raw/

# ==========================
# Models
# ==========================
*.pkl
*.joblib
*.h5
*.onnx

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db